version: '3'

services:
  nestjs-tdd:
    image: nestjs-tdd
    ports:
      - '3000:3000'
    env_file:
      - ./.env
    networks:
      - test1net

  mysql_db:
    image: mysql
    ports:
      - '3307:3306'
    env_file:
      - ./.env
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    networks:
      - test1net

networks:
  test1net:
