services:
  nestjs-tdd:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - '3000:3000'
    env_file:
      - ./.env

  mysql_db:
    image: mysql
    ports:
      - '3306:3306'
    env_file:
      - ./.env
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
