version: '3'

services:
  nestjs-tdd:
    image: wlgns1501/nestjs-tdd:lasest
    ports:
      - '3000:3000'
    env_file:
      - ./.env

  mysql_db:
    image: mysql
    ports:
      - '3307:3306'
    env_file:
      - ./.env
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
