name : build

env :
  DOCKER_IMAGE: nestjs-tdd
  DOCKER_CONTAINER : nestjs-tdd

on : 
  push :
    branches : [ "main" ]

jobs:

  test :
    runs-on : ubuntu-latest

    steps:
      - name : checkout Source code
        uses : actions/checkout@v3

      - name : setup node.js 16.x
        uses : actions/setup-node@v3
        with :
          node-version : 16.x
          cache : npm

      - name : create config folder
        run : |
                mkdir config
                
      - name: create env file
        working-directory : ./config
        run: |
          echo "${{ secrets.ENV }}" > .env

      - name: Cache node modules
        uses: actions/cache@v3
        id: cache
        with:
            path: node_modules
            key: npm-packages-${{ hashFiles('**/package-lock.json') }}

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

      - name : test
        run : npm run test
    
  build :
    needs : test
    runs-on : ubuntu-latest

    steps:
      # - name : dockerhub check
      #   run : |
      #     echo ${{ secrets.DOCKERHUB_USERNAME }}
      #     echo ${{ secrets.DOCKERHUB_PASSWORD }}
    
      - uses : actions/checkout@v3
      
      # - name : Login DockerHub
      #   uses : docker/login-action@v2
      #   with :
      #     DOCKER_USERNAME : ${{ secrets.DOCKERHUB_USERNAME }}
      #     DOCKER_PASSWORD : ${{ secrets.DOCKERHUB_PASSWORD }}
      
          

      # - name : build and push
      #   id : docker_build
      #   uses : docker/build-push-action@v3
      #   with :
      #     push : true
      #     tags : ${{ env.DOCKER.IMAGE }}:latest

      - name : docker hub login
        env : 
          DOCKER_USERNAME : ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASSWORD : ${{ secrets.DOCKERHUB_PASSWORD }}
        run : docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

      - name : build the docker image
        run : docker build -t nestjs-tdd .

      - name : taging
        run : docker tag nestjs-tdd:latest wlgns1501/nestjs-tdd:latest

      - name : push to dockerhub
        run : docker push wlgns1501/nestjs-tdd:latest

  deploy: 
    needs: build
    runs-on : ubuntu-latest

    steps:
        - name : check out
          uses : actions/checkout@v3

        - name: EC2 docker run
          uses : appleboy/ssh-action@v0.1.8
          with :
            host : ${{ secrets.EC2_HOST }}
            username : ubuntu
            key : ${{ secrets.EC2_ACCESS_TOKEN }}
            port: 22
            script : |
              sudo su
              docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
              docker pull wlgns1501/nestjs-tdd:latest
              ls
              cd nestjs-tdd
              docker-compose -f ./docker-compose.yml up -d
            
    
