name : build

env :
  DOCKER_IMAGE: nestjs-tdd
  DOCKER_CONTAINER : nestjs-tdd

on : 
  push :
    branches : [ "main" ]

jobs:

  test :
    runs-on : ubuntu-latest

    steps:
      - name : checkout Source code
        uses : actions/checkout@v3

      - name : setup node.js 16.x
        uses : actions/setup-node@v3
        with :
          node-version : 16.x
          cache : npm

      - name : create config folder
        run : |
                mkdir config
                
      - name: create env file
        working-directory : ./config
        run: |
          echo "${{ secrets.ENV }}" > .env

      - name: Cache node modules
        uses: actions/cache@v3
        id: cache
        with:
            path: node_modules
            key: npm-packages-${{ hashFiles('**/package-lock.json') }}

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

      - name : test
        run : npm run test
    
  build :
    needs : test
    runs-on : ubuntu-latest

    steps:
      - uses : actions/checkout@v3
      
      - name : Login DockerHub
        uses : docker/login-action@v2
        with :
          DOCKER_USERNAME : ${{secrets.DOCKERHUB_USERNAME}}
          DOCKER_PASSWORD : ${{secrets.DOCKERHUB_PASSWORD}}

      - name : build and push
        id : docker_build
        uses : docker/build-push-action@v3
        with :
          push : true
          tags : ${{env.DOCKER.IMAGE}}:latest


      # - name : build the docker image
      #   run : docker build -t nest-tdd .

      # - name : taging
      #   run : docker tag nest-tdd:latest jihun/nest-tdd:latest

      # - name : push to dockerhub
      #   run : docker push jihun/nest-tdd:latest
